# Firebase Secrets
LIFT/GoogleService-Info.plist
LIFT/GoogleService-Info*.plist

# API Keys
LIFT/Secrets.swift

# Scratch Files
scratch_usda.json

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.xcuserstate
*.xccheckout
*.xsyncdiary
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
